{% extends "base_html_my.html" %}
{% block link %}
    <li class="nav-item">
        <a class="nav-link" href="{% url "book_create" %}">Добавить запись</a>
    </li>
{% endblock %}


{% block content %}
    <h1 class="head-our-works text-center pt-5 pb-5">Guest Book</h1>
    <div class="container text-center">
        <div class="container-our-works pb-5">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                {% for book in books %}
                    <div class="col-xxl-4 col-lg-6 col-sm-12">
                        <div class="card card-our-works h-100" style="border: 3px solid darkblue">
                            <div class="card-body ">
                                <div class="card-icon">
                                    <a href="{% url "book_update" book.pk %}" style="font-size: 50px; color: black"><i class="bi bi-pencil-square"></i></a>
                                    <a href="{% url "delete_book" book.pk %}" style="font-size: 50px; color: black"><i class="bi bi-file-earmark-x"></i></a>
                                </div>
                                <p class="card-text card-text-1 text-uppercase"
                                   style="font-size: 36px;">{{ book.author }}</p>
                                <p class="card-text card-text-1 text-uppercase"
                                   style="font-size: 24px;">{{ book.email }}</p>
                                <p class="card-text card-text-1 text-uppercase"
                                   style="font-size: 24px; border-bottom: 2px solid darkblue">{{ book.description }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}